@model OdeToFoodCore.Models.Restaurant

@{
    ViewBag.Title = "Details Page";
}

<h2>Details</h2>
<p>@Model.Id</p>
<p>@Model.Name</p>
<p>@Model.Cuisine</p>
<a asp-action="Index" asp-controller="Home">Back Home</a>

